.only-item-page {
  padding: 0 3.5vw;
}
.item-icons {
  vertical-align: middle;
}
.after-icon {
  padding-left: 10px;
}
.before-icon {
  padding-right: 10px;
}
.icon-container {
  position: relative;
}
/*            Item - nav */
.item-page {
  display: block;
}
.itempage-nav {
  text-align: center;
  margin-top: 60px;
  padding: 20px 3.5vw;
  height: 60px;
}
.item-nav-comp {
  display: inline-block;
}
.item-nav-left {
  float: left;
  text-align: left;
}
.item-nav-smTitle {
  font-size: 13px;
}
.item-nav-title {
  font-size: 22px;
  font-weight: bold;
}
.item-nav-right {
  float: right;
  padding: 0 10px;
}
.item-nav-right span {
  padding: 0 10px;
  font-weight: bold;
  font-size: 15px;
}
/*               item page side bar                 */

.item-sidebar-box {
  border-top: 1px solid #bbb;

  width: 180px;
  font-weight: bold;
  padding: 15px 0;
}
.ExpandLessIcon {
  float: right;
  padding: 15px 0;
  font-weight: bold;
}
.item-sidebar-chk {
  line-height: 2;
  font-size: 15px;
}
.item-sidebar-title {
  padding: 10px 0;
}
.item-sidebar-fold {
  padding: 20px 0;
}
.item-sidebar-icons {
  width: 20px;
}
.fold {
  display: none;
}
